<div cdkDropListGroup *ngIf="currentSpace.Name != undefined">
  <mat-card class="group-block" *ngFor="let group of allGroups" (mouseenter)="hoverGroup = group"
    (mouseleave)="hoverGroup = null">
    <div style="padding-bottom: 5px;">
      <button mat-icon-button *ngIf="group.Ideas.length > 0 && group.open == false" (click)="group.open = true; setOpenData(group.Name, true)">
        <mat-icon *ngIf="group.open == false">chevron_right</mat-icon>
      </button>
      <button mat-icon-button *ngIf="group.Ideas.length > 0 && group.open == true" (click)="group.open = false; setOpenData(group.Name, false)">
          <mat-icon *ngIf="group.open == true">expand_more</mat-icon>
        </button>
      <button mat-icon-button *ngIf="group.Ideas.length == 0 || group.Ideas == undefined">
        <mat-icon *ngIf="group.open == false">remove</mat-icon>
      </button>
      <button mat-icon-button *ngIf="currentSpace.canCreateIdeas == true" (click)="openCreateIdeaDialog(group.Name)">
        <mat-icon>note_add</mat-icon>
      </button>
      {{group.Name}}
      <button mat-icon-button class="group-info-button" *ngIf="hoverGroup == group" (click)="openGroupInfoDialog(group)">
        <mat-icon style="padding-bottom: 3px">info</mat-icon>
      </button>
    </div>
    <div cdkDropList cdkDropListOrientation="horizontal" class="card-row" *ngIf="group.open == true" [cdkDropListData]="group" (cdkDropListDropped)="dragAndDrop($event)">
      <div class="idea-card" *ngFor="let idea of group.Ideas" cdkDrag>
          <app-idea-card [idea]="idea" [currentSpace]="currentSpace"></app-idea-card>
      </div>
    </div>
  </mat-card>
  <mat-card class="new-group-block" *ngIf="currentSpace.canCreateIdeas == true && groupCreateMode == false">
    <button mat-button (click)="editNewGroup()">
      <mat-icon>note_add</mat-icon>
      New Group
    </button>
  </mat-card>
  <mat-card class="new-group-entry-block" *ngIf="currentSpace.canCreateIdeas == true && groupCreateMode == true">
    <mat-form-field style="width: 140px; margin-left: 3px">
      <input matInput placeholder="Title" type="text" autocomplete="off" [(ngModel)]="groupCreateName">
    </mat-form-field>
    <button mat-icon-button style="margin-left: 10px; margin-right: 3px" (click)="createNewGroup()">
      <mat-icon>check_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="groupCreateMode = false; groupCreateName = ''">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-card>
</div>