<div *ngIf="currentSpace.Name != undefined">
  <div cdkDropListGroup>
    <app-group-card *ngFor="let group of allGroups" [group]="group" [currentSpace]="currentSpace" (emitter)="updateGroupList($event)">test</app-group-card>
  </div>
  <mat-card class="new-group-block" *ngIf="currentSpace.canCreateIdeas == true && groupCreateMode == false">
    <button mat-button (click)="editNewGroup()">
      <mat-icon>note_add</mat-icon>
      New Group
    </button>
  </mat-card>
  <mat-card class="new-group-entry-block" *ngIf="currentSpace.canCreateIdeas == true && groupCreateMode == true">
    <mat-form-field style="width: 140px; margin-left: 3px">
      <input matInput placeholder="Title" type="text" autocomplete="off" [(ngModel)]="groupCreateName">
    </mat-form-field>
    <button mat-icon-button style="margin-left: 10px; margin-right: 3px" (click)="createNewGroup()">
      <mat-icon>check_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="groupCreateMode = false; groupCreateName = ''">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-card>
</div>