<h2>Space List</h2>

<mat-form-field appearance="fill" style="width: 150px; ">
  <input matInput type="text" [(ngModel)]="newSpaceName">
</mat-form-field>
<button mat-raised-button matSuffix style="min-width: 0px;" (click)="createNewSpace()">+</button>

<div *ngFor="let space of spaces">
  <button mat-raised-button (click)="updateCurrentSpace(space)">{{space.Name}}</button>
  <button mat-raised-button style="min-width: 0px" *ngIf="space.canBeDeleted == true" (click)="deleteSpace(space.Name)">-</button>
</div>

<button mat-raised-button (click)="updateSpacesList()">
  Refresh
</button>