<mat-drawer-container class="sidenav">
  <mat-drawer mode="side" [(opened)]="sidenavOpened" width="200px">
    <app-spacelist></app-spacelist>
  </mat-drawer>
  <mat-drawer-content class="sidenav-content">
    <span>
      <button *ngIf="sidenavOpened == true" (click)="toggleSidenav()">
        Hide Spaces
      </button>
      <button *ngIf="sidenavOpened == false" (click)="toggleSidenav()">
        Show Spaces
      </button>
    </span>
    <app-work-space></app-work-space>
  </mat-drawer-content>
</mat-drawer-container>