<mat-drawer-container class="sidenav">
  <mat-drawer class="sidenav-drawer" mode="side" [(opened)]="sidenavOpened">
    <app-spacelist (spaceEmitter)="updateCurrentSpace($event)"></app-spacelist>
  </mat-drawer>
  <mat-drawer-content class="sidenav-content">
    <span>
      <button mat-button *ngIf="sidenavOpened == true" (click)="toggleSidenav()">
        Hide Spaces
      </button>
      <button mat-button *ngIf="sidenavOpened == false" (click)="toggleSidenav()">
        Show Spaces
      </button>
    </span>
    <app-work-space [changeSpace]="selectedSpace"></app-work-space>
  </mat-drawer-content>
</mat-drawer-container>
