.sidenav{
    height: -webkit-fill-available;
    width: auto;
}

.sidenav-drawer{
    width: 200px;;
}

.sidenav-content{
    
}
  
.nav-toggle{
    position: absolute;
    left: 16px;
    top: 8px;
}