<mat-drawer-container class="sidenav">
  <mat-drawer class="sidenav-drawer" mode="side" [(opened)]="sidenavOpened">
    <app-spacelist (spaceEmitter)="updateCurrentSpace($event)"></app-spacelist>
  </mat-drawer>
  <mat-drawer-content class="sidenav-content">
    <span>
      <button mat-icon-button style="min-width: 0px" *ngIf="sidenavOpened == true" (click)="toggleSidenav()">
          <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button style="min-width: 0px" *ngIf="sidenavOpened == false" (click)="toggleSidenav()">
          <mat-icon>bookmarks</mat-icon>
      </button>
    </span>
    <app-work-space [changeSpace]="selectedSpace"></app-work-space>
  </mat-drawer-content>
</mat-drawer-container>
