<div>
  <mat-form-field style="width: 100%">
    <input matInput placeholder="Title" type="text" autocomplete="off" [(ngModel)]="data.title">
  </mat-form-field>
</div>
<div>
  <mat-form-field style="width: 100%">
    <textarea matInput class="textarea" placeholder="Body" rows="4" [(ngModel)]="data.body"></textarea>
  </mat-form-field>
</div>
<div>
  <button mat-button (click)="data.createIdea=true; closeDialog();"> Create</button>
  <button mat-button (click)="closeDialog();"> Cancel</button>
</div>