<div>
  <mat-form-field style="width: 100%">
    <input matInput placeholder="Enter new Space name" autocomplete="off" [(ngModel)]="data.name">
  </mat-form-field>
</div>
<div>
  <mat-form-field style="width: 100%">
    <textarea matInput class="textarea" placeholder="Description" rows="4" [(ngModel)]="data.desc"></textarea>
  </mat-form-field>
</div>
<div>
  <button mat-button (click)="data.createSpace=true; closeDialog();"> Create</button>
  <button mat-button (click)="closeDialog();"> Cancel</button>
</div>