<div *ngIf="editMode == false">
  <p class="mat-h2">{{data.group.Name}}</p>
</div>
<div *ngIf="editMode == true">
  <mat-form-field style="width: 100%">
    <input matInput placeholder="Group Name" type="text" autocomplete="off" [(ngModel)]="nameTemp">
  </mat-form-field>
</div>
<div>
  <button mat-icon-button class="edit-button" *ngIf="data.canBeEdited == true && editMode == true" color="warn" (click)="toggleEdit()">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button class="edit-button" *ngIf="data.canBeEdited == true && editMode == false" (click)="toggleEdit()">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button *ngIf="data.canBeDeleted == true && deletePromptShown == false" (click)="deletePromptShown = true">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-button *ngIf="deletePromptShown == true && data.group.Name != '-Unhandled-'" color="warn" (click)="data.toDelete = true; closeDialog();">
    Delete
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-button *ngIf="deletePromptShown == true && data.group.Name != '-Unhandled-'" color="warn" (click)="data.toDeleteAll = true; closeDialog();">
    Delete All
    <mat-icon>delete_forever</mat-icon>
  </button>
  <span *ngIf="deletePromptShown == true && data.group.Name == '-Unhandled-'" style="color: red;">
    Delete All Unhandled Ideas?
    <button mat-button color="warn" (click)="data.toDeleteAll = true; closeDialog();">
      Delete
      <mat-icon>delete</mat-icon>
    </button>
  </span>
  <button mat-button *ngIf="data.canBeDeleted == true" class="close-button" style="left: 75%;" (click)="closeDialog();">Close</button>
  <button mat-button *ngIf="data.canBeDeleted == false" style="left: 85%;" (click)="closeDialog();">Close</button>
</div>
<div class="mat-small" *ngIf="nameTemp != data.group.Name" style="color: red;">
  Your changes have not been saved.
  <button mat-raised-button *ngIf="editMode == true" color="warn" (click)="saveEdit()">save</button>


</div>