.sidenav-header{
    margin: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.create-space-button{
    margin-left: 120px;
    vertical-align: top;
    position: absolute;
}
.refresh-spaces-button{
    margin-left: 155px;
    vertical-align: top;
    position: absolute;
}

.mat-h2{
    margin: 0;
    padding-top: 5px;
    padding-left: 15px;
}

.space-button{
    margin: 3px;
    padding: 0px;
    width: 180px;
}

.space-info-button{
    position: absolute;
    right: 0%;
}

.mat-card{
    padding: 3px;
    margin-left: 3px;
    margin-top: 3px;
    width: 187px;
    background-color: #e7e7e7;
}

.mat-card-highlighted{
    padding: 3px;
    margin-top: 3px;
    width: 187px;
    background-color: white;
}