.sidenav{
    height: -webkit-fill-available;
    width: auto;
}

.mat-h2{
    display: inline;
    vertical-align: middle;
}

.sidenav-drawer{
    width: 200px;
    background-color: lightgray
}
  
.nav-toggle{
    position: absolute;
    left: 16px;
    top: 8px;
}